node_modules
npm-debug.log
.expo
.expo-shared
.git
.gitignore
README.md
.env.local
.env.development
.env.production
*.log
.DS_Store
android
ios
.vscode
.idea
coverage
*.test.js
*.spec.js
web-build
dist
